---
---

$header-heading-color: #222222;
$body-link-color: #205692;

@import "{{ site.theme }}";

.page-header {
  background-color: #205692;
  background-image: none;
}

.prj-logo {
  border-radius: 50%;
}
